modules = ["python-3.11", "nodejs-20", "web", "bash"]
[agent]
expertMode = true

[workflows]
runButton = "Full Stack"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Server"

[[workflows.workflow]]
name = "Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd server && python main.py"
waitForPort = 5000

[[workflows.workflow]]
name = "Frontend Dev"
author = 47261658
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm install && npm run dev"

[[workflows.workflow]]
name = "Build Frontend"
author = 47261658
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm install && npm run build"

[[workflows.workflow]]
name = "Full Stack"
author = 47261658
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm install && npm run build && cd ../server && python main.py"

[[ports]]
localPort = 5000
externalPort = 80

[nix]
channel = "stable-25_05"
packages = ["cargo", "libiconv", "libxcrypt", "rustc"]

[deployment]
deploymentTarget = "vm"
run = ["python", "server/main.py"]
